.column {
  flex: 1;
  min-width: 300px;
  background-color: #f4f5f7;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 10px;
  margin: 0 0 15px 0;
}

.tasksContainer {
  flex-grow: 1;
  overflow-y: auto; 
  min-height: 100px;
}